---
- name: Configure nginx-full
  ansible.builtin.import_playbook: "../nginx/setup.yaml"

- name: Configure docker
  ansible.builtin.import_playbook: "../docker.yaml"

- name: Configure 3x-ui
  hosts: all
  become: true

  tasks:
    - name: Check required vars
      ansible.builtin.assert:
        that:
          - ans_domains.xui_domain is defined
        fail_msg: "Check that: [{{ inventory_hostname }} domains.xui_domain] are passed"

    - name: Set facts
      ansible.builtin.include_vars:
        file: "../../../inventory/configs/3x_ui.yaml"

    - name: Install 3x-ui
      when: uninstall is not defined or not uninstall
      block:
        - name: Install dependencies
          ansible.builtin.apt:
            name:
              - sqlite3
            state: present
            update_cache: true

        - name: Create panel directory
          ansible.builtin.file:
            path: "{{ panel_dir }}"
            state: directory
            mode: "0755"

        - name: Create compose.yml for 3x-ui
          ansible.builtin.copy:
            dest: "{{ panel_dir }}/docker-compose.yml"
            mode: "0644"
            content: |
              services:
                3xui:
                  image: {{ image_name }}
                  container_name: {{ container_name }}
                  hostname: {{ ans_domains.xui_domain }}
                  volumes:
                    - {{ panel_dir }}/db/:/etc/x-ui/
                    - {{ panel_dir }}/cert/:/root/cert/
                  environment:
                    XRAY_VMESS_AEAD_FORCED: "false"
                    XUI_ENABLE_FAIL2BAN: "true"
                  tty: true
                  network_mode: host
                  restart: unless-stopped

        - name: Check if container exists and running
          ansible.builtin.command: docker ps -q -f name={{ container_name }}
          register: container_status
          changed_when: false

        - name: Stop container if running
          ansible.builtin.command: docker compose down
          args:
            chdir: "{{ panel_dir }}"
          when: container_status.stdout != ""
          changed_when: true

        - name: Update image of 3x-ui
          ansible.builtin.command: docker compose pull
          args:
            chdir: "{{ panel_dir }}"
          changed_when: true

        - name: Run docker container
          ansible.builtin.command: docker compose up -d
          args:
            chdir: "{{ panel_dir }}"
          changed_when: true

        - name: Change panel port and path in database
          ansible.builtin.shell: |
            sqlite3 {{ panel_dir }}/db/x-ui.db "
              INSERT INTO settings (key, value)
                SELECT 'webPort', '{{ panel_port }}'
                WHERE NOT EXISTS (SELECT 1 FROM settings WHERE key='webPort');
              UPDATE settings SET value='{{ panel_port }}' WHERE key='webPort';

              INSERT INTO settings (key, value)
                SELECT 'webBasePath', '{{ panel_path }}'
                WHERE NOT EXISTS (SELECT 1 FROM settings WHERE key='webBasePath');
              UPDATE settings SET value='{{ panel_path }}' WHERE key='webBasePath';
            "
          args:
            executable: /bin/bash
          changed_when: true

        - name: Restart container to apply DB changes
          ansible.builtin.command: docker restart {{ container_name }}
          changed_when: true

    - name: Uninstall 3x-ui
      when: uninstall is defined and uninstall
      block:
        - name: Confirm uninstallation
          ansible.builtin.pause:
            prompt: "⚠️ Do you really want to DELETE the `3x-ui` and all related data? (y/N)"
          register: uninstall_confirm

        - name: Fail if user did not confirm uninstallation
          when: uninstall_confirm.user_input | lower not in ["y", "yes"]
          ansible.builtin.fail:
            msg: "The deletion was canceled by the user."

        - name: Check if 3x-ui container exists
          ansible.builtin.command: docker ps -a -q -f name={{ container_name }}
          register: container_exists
          changed_when: false

        - name: Stop and remove 3x-ui container
          ansible.builtin.command: docker compose down
          args:
            chdir: "{{ panel_dir }}"
          when: container_exists.stdout != ""
          changed_when: true

        - name: Remove all unused Docker data (containers, images, volumes, networks)
          ansible.builtin.command: docker system prune -a -f
          changed_when: true

        - name: Remove panel directory
          ansible.builtin.file:
            path: "{{ panel_dir }}"
            state: absent

- name: Add proxy config in nginx
  ansible.builtin.import_playbook: "../nginx/simple_proxy.yaml"
  vars:
    domain: "{{ ans_domains.xui_domain }}"
    http_port: "{{ http_panel_port }}"
    http_proxy_port: "{{ panel_port }}"

- name: Issue SSL certificate
  ansible.builtin.import_playbook: "../nginx/ssl.yaml"
  vars:
    domain: "{{ ans_domains.xui_domain }}"
    https_port: "{{ https_panel_port }}"

- name: Add nginx stream default record
  ansible.builtin.import_playbook: "../nginx/stream.yaml"
  vars:
    domain: default
    https_port: "{{ anti_probing_port }}"

- name: Finish install
  hosts: all
  become: false
  gather_facts: false

  tasks:
    - name: Print install msg
      when: uninstall is not defined or not uninstall
      ansible.builtin.debug:
        msg: |-
          ✅ 3x-ui installed successfully!
          Now you can open panel via:
          https://{{ ans_domains.xui_domain }}:{{ https_panel_port }}{{ panel_path }}

          Your credentals: admin/admin
          ⚠️ Change panel username and password after login

    - name: Print uninstall msg
      when: uninstall is defined and uninstall
      ansible.builtin.debug:
        msg: |-
          ✅ 3x-ui successfully uninstalled!
